interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=honey+badger&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"honey badger","to":"Honey
        badger"}],"pages":{"361103":{"pageid":361103,"ns":0,"title":"Honey badger","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2025-03-13T09:07:34Z","lastrevid":1278443949,"length":44430,"fullurl":"https://en.wikipedia.org/wiki/Honey_badger","editurl":"https://en.wikipedia.org/w/index.php?title=Honey_badger&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Honey_badger","pageprops":{"jsonconfig_getdata":"1","kartographer_frames":"1","page_image_free":"Honey_Badger.jpg","wikibase-badge-Q17437798":"","wikibase-shortdesc":"Species
        of mammal","wikibase_item":"Q173128"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=nonexistent_page_title&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"nonexistent_page_title","to":"Nonexistent
        page title"}],"pages":{"-1":{"ns":0,"title":"Nonexistent page title","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/Nonexistent_page_title","editurl":"https://en.wikipedia.org/w/index.php?title=Nonexistent_page_title&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Nonexistent_page_title"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
version: 1
