interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Category%3AFeatured_articles&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Category:Featured_articles","to":"Category:Featured
        articles"}],"pages":{"8966941":{"pageid":8966941,"ns":14,"title":"Category:Featured
        articles","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2025-03-15T00:06:27Z","lastrevid":1214573828,"length":625,"fullurl":"https://en.wikipedia.org/wiki/Category:Featured_articles","editurl":"https://en.wikipedia.org/w/index.php?title=Category:Featured_articles&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Category:Featured_articles","pageprops":{"defaultsort":"Featured
        Articles","expectunusedcategory":"","hiddencat":"","notoc":"","wikibase_item":"Q4387444"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=ThisPageDefinitelyDoesNotExist2024&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":0,"title":"ThisPageDefinitelyDoesNotExist2024","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/ThisPageDefinitelyDoesNotExist2024","editurl":"https://en.wikipedia.org/w/index.php?title=ThisPageDefinitelyDoesNotExist2024&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/ThisPageDefinitelyDoesNotExist2024"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=This+Page+Does+Not+Exist+2024&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":0,"title":"This Page
        Does Not Exist 2024","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/This_Page_Does_Not_Exist_2024","editurl":"https://en.wikipedia.org/w/index.php?title=This_Page_Does_Not_Exist_2024&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/This_Page_Does_Not_Exist_2024"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=This_Page_Does_Not_Exist_2024&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"This_Page_Does_Not_Exist_2024","to":"This
        Page Does Not Exist 2024"}],"pages":{"-1":{"ns":0,"title":"This Page Does
        Not Exist 2024","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/This_Page_Does_Not_Exist_2024","editurl":"https://en.wikipedia.org/w/index.php?title=This_Page_Does_Not_Exist_2024&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/This_Page_Does_Not_Exist_2024"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
version: 1
