interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Celtuce&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1868108":{"pageid":1868108,"ns":0,"title":"Celtuce","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-14T08:20:36Z","lastrevid":1194071915,"length":4964,"fullurl":"https://en.wikipedia.org/wiki/Celtuce","editurl":"https://en.wikipedia.org/w/index.php?title=Celtuce&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Celtuce","pageprops":{"page_image_free":"Celtuce.jpg","wikibase-shortdesc":"Lettuce
        cultivar","wikibase_item":"Q574172"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=2007+Atlantic+hurricane+season&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"2528069":{"pageid":2528069,"ns":0,"title":"2007
        Atlantic hurricane season","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T21:16:51Z","lastrevid":1197763446,"length":89612,"fullurl":"https://en.wikipedia.org/wiki/2007_Atlantic_hurricane_season","editurl":"https://en.wikipedia.org/w/index.php?title=2007_Atlantic_hurricane_season&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/2007_Atlantic_hurricane_season","pageprops":{"defaultsort":"2007
        Atlantic Hurricane Season","page_image_free":"2007_Atlantic_hurricane_season_summary_map.png","wikibase-badge-Q17437796":"1","wikibase-shortdesc":"Hurricane
        season in the Atlantic Ocean","wikibase_item":"Q756793"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Great+Wall+of+China&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"5094570":{"pageid":5094570,"ns":0,"title":"Great
        Wall of China","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T16:15:21Z","lastrevid":1195260685,"length":58991,"fullurl":"https://en.wikipedia.org/wiki/Great_Wall_of_China","editurl":"https://en.wikipedia.org/w/index.php?title=Great_Wall_of_China&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Great_Wall_of_China","pageprops":{"defaultsort":"Great
        Wall Of China","page_image_free":"The_Great_Wall_of_China_at_Jinshanling-edit.jpg","wikibase-shortdesc":"Series
        of defensive walls along the historical northern borders of China","wikibase_item":"Q12501"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Avatar+%282009+film%29&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4273140":{"pageid":4273140,"ns":0,"title":"Avatar
        (2009 film)","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T19:15:00Z","lastrevid":1197738338,"length":228059,"fullurl":"https://en.wikipedia.org/wiki/Avatar_(2009_film)","editurl":"https://en.wikipedia.org/w/index.php?title=Avatar_(2009_film)&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Avatar_(2009_film)","pageprops":{"defaultsort":"Avatar","displaytitle":"<i>Avatar</i>
        (2009 film)","page_image":"Avatar_(2009_film)_poster.jpg","toc":"","wikibase-badge-Q17437798":"1","wikibase-shortdesc":"Science
        fiction film by James Cameron","wikibase_item":"Q24871"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=langlinks&llurl=True&lllang=es&titles=Celtuce&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","warnings":{"main":{"*":"Subscribe to the mediawiki-api-announce
        mailing list at <https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/>
        for notice of API deprecations and breaking changes. Use [[Special:ApiFeatureUsage]]
        to see usage of deprecated features by your application."},"langlinks":{"*":"The
        parameter \"llurl\" has been deprecated."}},"query":{"pages":{"1868108":{"pageid":1868108,"ns":0,"title":"Celtuce","langlinks":[{"lang":"es","url":"https://es.wikipedia.org/wiki/Lechuga_china","*":"Lechuga
        china"}]}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=langlinks&llurl=True&lllang=ru&titles=2007+Atlantic+hurricane+season&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","warnings":{"main":{"*":"Subscribe to the mediawiki-api-announce
        mailing list at <https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/>
        for notice of API deprecations and breaking changes. Use [[Special:ApiFeatureUsage]]
        to see usage of deprecated features by your application."},"langlinks":{"*":"The
        parameter \"llurl\" has been deprecated."}},"query":{"pages":{"2528069":{"pageid":2528069,"ns":0,"title":"2007
        Atlantic hurricane season","langlinks":[{"lang":"ru","url":"https://ru.wikipedia.org/wiki/%D0%A1%D0%B5%D0%B7%D0%BE%D0%BD_%D0%B0%D1%82%D0%BB%D0%B0%D0%BD%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D1%85_%D1%83%D1%80%D0%B0%D0%B3%D0%B0%D0%BD%D0%BE%D0%B2_2007_%D0%B3%D0%BE%D0%B4%D0%B0","*":"\u0421\u0435\u0437\u043e\u043d
        \u0430\u0442\u043b\u0430\u043d\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0445
        \u0443\u0440\u0430\u0433\u0430\u043d\u043e\u0432 2007 \u0433\u043e\u0434\u0430"}]}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
version: 1
