interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Celtuce&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1868108":{"pageid":1868108,"ns":0,"title":"Celtuce","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-14T08:20:36Z","lastrevid":1194071915,"length":4964,"fullurl":"https://en.wikipedia.org/wiki/Celtuce","editurl":"https://en.wikipedia.org/w/index.php?title=Celtuce&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Celtuce","pageprops":{"page_image_free":"Celtuce.jpg","wikibase-shortdesc":"Lettuce
        cultivar","wikibase_item":"Q574172"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=2007+Atlantic+hurricane+season&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"2528069":{"pageid":2528069,"ns":0,"title":"2007
        Atlantic hurricane season","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T21:16:51Z","lastrevid":1197763446,"length":89612,"fullurl":"https://en.wikipedia.org/wiki/2007_Atlantic_hurricane_season","editurl":"https://en.wikipedia.org/w/index.php?title=2007_Atlantic_hurricane_season&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/2007_Atlantic_hurricane_season","pageprops":{"defaultsort":"2007
        Atlantic Hurricane Season","page_image_free":"2007_Atlantic_hurricane_season_summary_map.png","wikibase-badge-Q17437796":"1","wikibase-shortdesc":"Hurricane
        season in the Atlantic Ocean","wikibase_item":"Q756793"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Great+Wall+of+China&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"5094570":{"pageid":5094570,"ns":0,"title":"Great
        Wall of China","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T16:15:21Z","lastrevid":1195260685,"length":58991,"fullurl":"https://en.wikipedia.org/wiki/Great_Wall_of_China","editurl":"https://en.wikipedia.org/w/index.php?title=Great_Wall_of_China&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Great_Wall_of_China","pageprops":{"defaultsort":"Great
        Wall Of China","page_image_free":"The_Great_Wall_of_China_at_Jinshanling-edit.jpg","wikibase-shortdesc":"Series
        of defensive walls along the historical northern borders of China","wikibase_item":"Q12501"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Avatar+%282009+film%29&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4273140":{"pageid":4273140,"ns":0,"title":"Avatar
        (2009 film)","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T19:15:00Z","lastrevid":1197738338,"length":228059,"fullurl":"https://en.wikipedia.org/wiki/Avatar_(2009_film)","editurl":"https://en.wikipedia.org/w/index.php?title=Avatar_(2009_film)&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Avatar_(2009_film)","pageprops":{"defaultsort":"Avatar","displaytitle":"<i>Avatar</i>
        (2009 film)","page_image":"Avatar_(2009_film)_poster.jpg","toc":"","wikibase-badge-Q17437798":"1","wikibase-shortdesc":"Science
        fiction film by James Cameron","wikibase_item":"Q24871"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=1&limit=1&srsearch=J.+Robert+Oppenheimer&srinfo=suggestion&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":1,"continue":"-||"},"query":{"search":[{"ns":0,"title":"J.
        Robert Oppenheimer","pageid":39034}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
      x-search-id:
      - ehy0wf49phrpbaikzjps0pll8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=J.+Robert+Oppenheimer&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"39034":{"pageid":39034,"ns":0,"title":"J.
        Robert Oppenheimer","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T23:49:31Z","lastrevid":1197432412,"length":170794,"fullurl":"https://en.wikipedia.org/wiki/J._Robert_Oppenheimer","editurl":"https://en.wikipedia.org/w/index.php?title=J._Robert_Oppenheimer&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/J._Robert_Oppenheimer","pageprops":{"defaultsort":"Oppenheimer,
        Robert","page_image_free":"Oppenheimer_(cropped).jpg","wikibase-badge-Q17437796":"1","wikibase-shortdesc":"American
        theoretical physicist (1904\u20131967)","wikibase_item":"Q132537"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=extracts%7Crevisions&explaintext=&rvprop=ids&titles=J.+Robert+Oppenheimer&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"39034":{"pageid":39034,"ns":0,"title":"J.
        Robert Oppenheimer","extract":"J. Robert Oppenheimer  (born Julius Robert
        Oppenheimer;  OP-\u0259n-hy-m\u0259r; April 22, 1904 \u2013 February 18, 1967)
        was an American theoretical physicist. He was director of the Manhattan Project''s
        Los Alamos Laboratory during World War II and is often called the \"father
        of the atomic bomb\".\nBorn in New York City, Oppenheimer earned a bachelor
        of arts degree in chemistry from Harvard University in 1925 and a doctorate
        in physics from the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=extracts&explaintext=&exintro=&titles=J.+Robert+Oppenheimer&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"39034":{"pageid":39034,"ns":0,"title":"J.
        Robert Oppenheimer","extract":"J. Robert Oppenheimer  (born Julius Robert
        Oppenheimer;  OP-\u0259n-hy-m\u0259r; April 22, 1904 \u2013 February 18, 1967)
        was an American [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?generator=images&gimlimit=max&prop=imageinfo&iiprop=url&titles=J.+Robert+Oppenheimer&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","limits":{"images":500},"query":{"pages":{"-1":{"ns":6,"title":"File:Edward
        Teller (1958)-LLNL-restored.jpg","missing":"","known":"","imagerepository":"shared","imageinfo":[{"url":"https://upload.wikimedia.org/wikipedia/commons/4/4d/Edward_Teller_%281958%29-LLNL-restored.jpg","descriptionurl":"https://commons.wikimedia.org/wiki/File:Edward_Teller_(1958)-LLNL-restored.jpg","descriptionshorturl":"https://commons.wikimedia.org/w/index.php?curid=10597293"}]},"-2":{"ns":6,"title":"File:Einstein
        oppenheimer.jpg","missing":"","known":"","imagerepository":"shared","imageinfo":[{"url":"https://upload.wikimedia.org/wikipedia/commons/a/a2/Einstein_oppenheimer.jpg","descriptionurl":"https://commons.wikimedia.org/wiki/File:Einstein_oppenheimer.jpg","descriptionshorturl":"https://commons.wikimedia.org/w/index.php?curid=63662"}]},"-3":{"ns":6,"title":"File:Eisenhower
        and Strauss.jpg"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=extlinks&ellimit=max&titles=J.+Robert+Oppenheimer&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"39034":{"pageid":39034,"ns":0,"title":"J.
        Robert Oppenheimer","extlinks":[{"*":"http://www.americanheritage.com/articles/magazine/ah/1977/6/1977_6_70.shtml"},{"*":"http://ohst.berkeley.edu/publications/oppenheimer/exhibit/index.html"},{"*":"http://www.time.com/time/magazine/article/0,9171,800436,00.html"},{"*":"http://ohst.berkeley.edu/oppenheimer/exhibit/text/ch2page2.html"},{"*":"http://sciencereview.berkeley.edu/articles/issue1/scientistx.pdf"},{"*":"http://www.nuclearfiles.org/menu/library/correspondence/oppenheimer-robert/corr_oppenheimer_1954-03-04.htm"},{"*":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=links&plnamespace=0&pllimit=max&titles=J.+Robert+Oppenheimer&format=json&action=query
  response:
    body:
      string: '{"continue":{"plcontinue":"39034|0|Oppenheimerin_tapaus","continue":"||"},"query":{"pages":{"39034":{"pageid":39034,"ns":0,"title":"J.
        Robert Oppenheimer","links":[{"ns":0,"title":"1934 West Coast Waterfront Strike"},{"ns":0,"title":"1936
        United States presidential election"},{"ns":0,"title":"200th Coast Artillery
        (United States)"},{"ns":0,"title":"509th Composite Group"},{"ns":0,"title":"53rd
        Academy Awards"},{"ns":0,"title":"67085 Oppenheimer"},{"ns":0,"title":"Aage
        Bohr"},{"ns":0,"title":"Abraham Pais"},{"ns":0,"title":"Absorption coefficient"},{"ns":0,"title":"Acheson\u2013Lilienthal
        Report"},{"ns":0,"title":"Ai[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=links&plnamespace=0&pllimit=max&titles=J.+Robert+Oppenheimer&plcontinue=39034%7C0%7COppenheimerin_tapaus&continue=%7C%7C&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"39034":{"pageid":39034,"ns":0,"title":"J.
        Robert Oppenheimer","links":[{"ns":0,"title":"Oppenheimerin tapaus"},{"ns":0,"title":"Oppenheimer\u2013Phillips
        proc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=parse&prop=sections&page=J.+Robert+Oppenheimer&format=json
  response:
    body:
      string: '{"parse":{"title":"J. Robert Oppenheimer","pageid":39034,"sections":[{"toclevel":1,"level":"2","line":"Early
        life","number":"1","index":"1","fromtitle":"J._Robert_Oppenheimer","byteoffset":5570,"anchor":"Early_life","linkAnchor":"Early_life"},{"toclevel":2,"level":"3","line":"Childhood
        and education","number":"1.1","index":"2","fromtitle":"J._Robert_Oppenheimer","byteoffset":5587,"anchor":"Childhood_and_education","linkAnchor":"Childhood_and_education"},{"toclevel":2,"level":"3","line":"Studies
        in Europe","number":"1.2","index":"3","fromtitle":"J._Robert_Oppenheimer","byteoffset":9557,"anchor":"Studies_in_Europe","linkAnchor":"Studies_in_Europe"},{"toclevel":1,"level":"2","line":"Early
        career","n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&rvprop=content&rvlimit=1&rvparse=&titles=J.+Robert+Oppenheimer&format=json&action=query
  response:
    body:
      string: '{"continue":{"rvcontinue":"20240119201058|1197264529","continue":"||"},"warnings":{"main":{"*":"Subscribe
        to the mediawiki-api-announce mailing list at <https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/>
        for notice of API deprecations and breaking changes. Use [[Special:ApiFeatureUsage]]
        to see usage of deprecated features by your application."},"revisions":{"*":"The
        parameter \"rvparse\" has been deprecated.\nBecause \"rvslots\" was not specified,
        a legacy format has been used for the output. This format is deprecated, and
        in the future the new format will always be used."}},"query":{"pages":{"39034":{"pageid":39034,"ns":0,"title":"J.
        Robert Oppenheimer","revisions":[{"*":"<div class=\"mw-content-ltr mw-parser-output\"
        lang=\"en\" dir=\"ltr\"><div class=\"shortdescription nomobile noexcerpt noprint
        searchaux\" style=\"display:none\">American theoretical physicist (1904\u20131967)</div>\n<style
        data-mw-deduplicate=\"TemplateStyles:r1033289096\">.mw-parser-output .hatnote{font-style:italic}.mw-parser-output
        div.hatnote{padding-left:1.6em;margin-bottom:0.5em}.mw-parser-output .hatnote
        i{font-style:normal}.mw-parser-output .hatnote+link+.hatnote{margin-top:-0.5em}</style><div
        role=\"note\" class=\"hatnote navigation-not-searchable\">\"Oppenheimer\"
        redirects here. For other uses, see <a href=\"/wiki/Oppenheimer_(disambiguation)\"
        class=\"mw-disambig\" title=\"Oppenheimer (disambiguation)\">Oppenheimer (disambiguation)</a>.</div>\n<p
        class=\"mw-empty-elt\">\n\n\n\n</p>\n<style data-mw-deduplicate=\"TemplateStyles:r1066479718\">.mw-parser-output
        .infobox-subbox{padding:0;border:none;margin:-3px;width:auto;min-width:100%;font-size:100%;clear:none;float:none;background-color:transparent}.mw-parser-output
        .infobox-3cols-child{margin:auto}.mw-parser-output .infobox .navbar{font-size:100%}body.skin-minerva
        .mw-parser-output .infobox-header,body.skin-minerva .mw-parser-output .infobox-subheader,body.skin-minerva
        .mw-parser-output .infobox-above,body.skin-minerva .mw-parser-output .infobox-title,body.skin-minerva
        .mw-parser-output .infobox-image,body.skin-minerva .mw-parser-output .infobox-full-data,body.skin-minerva
        .mw-parser-output .infobox-below{text-align:center}</style><table class=\"infobox
        biography vcard\"><tbody><tr><th colspan=\"2\" class=\"infobox-above\" style=\"font-size:125%;\"><div
        class=\"fn\" style=\"display:inline-block\">J. Robert Oppenheimer</div></th></tr><tr><td
        colspan=\"2\" class=\"infobox-image\"><span class=\"mw-default-size\" typeof=\"mw:File/Frameless\"><a
        href=\"/wiki/File:Oppenheimer_(cropped).jpg\" class=\"mw-file-description\"><img
        alt=\"Head and shoulders portrait\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/8/85/Oppenheimer_%28cropped%29.jpg/220px-Oppenheimer_%28cropped%29.jpg\"
        decoding=\"async\" width=\"220\" height=\"320\" class=\"mw-file-element\"
        srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/8/85/Oppenheimer_%28cropped%29.jpg/330px-Oppenheimer_%28cropped%29.jpg
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/85/Oppenheimer_%28cropped%29.jpg/440px-Oppenheimer_%28cropped%29.jpg
        2x\" data-file-width=\"1698\" data-file-height=\"2471\" /></a></span><div
        class=\"infobox-caption\">Oppenheimer, <abbr title=\"circa\">c.</abbr><span
        style=\"white-space:nowrap;\">&#8201;1944</span></div></td></tr><tr><th scope=\"row\"
        class=\"infobox-label\">Born</th><td class=\"infobox-data\"><div style=\"display:inline\"
        class=\"nickname\">Julius Robert Oppenheimer</div><br /><span style=\"display:none\">(<span
        class=\"bday\">1904-04-22</span>)</span>April 22, 1904<br /><div style=\"display:inline\"
        class=\"birthplace\"><a href=\"/wiki/New_York_City,_New_York\" class=\"mw-redirect\"
        title=\"New York City, New York\">New York City, New York</a>, U.S.</div></td></tr><tr><th
        scope=\"row\" class=\"infobox-label\">Died</th><td class=\"infobox-data\">February
        18, 1967<span style=\"display:none\">(1967-02-18)</span> (aged&#160;62)<br
        /><div style=\"display:inline\" class=\"deathplace\"><a href=\"/wiki/Princeton,_New_Jersey\"
        title=\"Princeton, New Jersey\">Princeton, New Jersey</a>, U.S.</div></td></tr><tr><th
        scope=\"row\" class=\"infobox-label\">Education</th><td class=\"infobox-data\"><style
        data-mw-deduplicate=\"TemplateStyles:r1126788409\">.mw-parser-output .plainlist
        ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output
        .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}</style><div
        class=\"plainlist\">\n<ul><li><a href=\"/wiki/Harvard_University\" title=\"Harvard
        University\">Harvard University</a> (<a href=\"/wiki/Bachelor_of_Arts\" title=\"Bachelor
        of Arts\">AB</a>)</li>\n<li><a href=\"/wiki/Christ%27s_College,_Cambridge\"
        title=\"Christ&#39;s College, Cambridge\">Christ''s College, Cambridge</a></li>\n<li><a
        href=\"/wiki/University_of_G%C3%B6ttingen\" title=\"University of G\u00f6ttingen\">University
        of G\u00f6ttingen</a> (<a href=\"/wiki/Doctor_of_Philosophy\[...]
