interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=3&limit=3&srsearch=Porsche&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":3,"continue":"-||"},"query":{"searchinfo":{"totalhits":10216,"suggestion":"pors
        he","suggestionsnippet":"pors he"},"search":[{"ns":0,"title":"Porsche","pageid":24365},{"ns":0,"title":"Porsche
        911 GT3","pageid":3344895},{"ns":0,"title":"Porsche 911","pageid":48345830}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
      x-search-id:
      - 4077ih4ndlv9m8uajnutc8rew
    status:
      code: 200
      message: OK
version: 1
