interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Template&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"20627717":{"pageid":20627717,"ns":0,"title":"Template","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2025-03-04T12:03:43Z","lastrevid":1278599862,"length":2172,"fullurl":"https://en.wikipedia.org/wiki/Template","editurl":"https://en.wikipedia.org/w/index.php?title=Template&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Template","pageprops":{"disambiguation":"","toc":"","wikibase-shortdesc":"Topics
        referred to by the same term","wikibase_item":"Q438331"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&rvprop=content&rvparse=&rvlimit=1&pageids=20627717&format=json&action=query
  response:
    body:
      string: '{"continue":{"rvcontinue":"20250303051125|1278559916","continue":"||"},"warnings":{"main":{"*":"Subscribe
        to the mediawiki-api-announce mailing list at <https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/>
        for notice of API deprecations and breaking changes. Use [[Special:ApiFeatureUsage]]
        to see usage of deprecated features by your application."},"revisions":{"*":"The
        parameter \"rvparse\" has been deprecated.\nBecause \"rvslots\" was not specified,
        a legacy format has been used for the output. This format is deprecated, and
        in the future the new format will always be used."}},"query":{"pages":{"20627717":{"pageid":20627717,"ns":0,"title":"Template","revisions":[{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><style data-mw-deduplicate=\"TemplateStyles:r1236090951\">.mw-parser-output
        .hatnote{font-style:italic}.mw-parser-output div.hatnote{padding-left:1.6em;margin-bottom:0.5em}.mw-parser-output
        .hatnote i{font-style:normal}.mw-parser-output .hatnote+link+.hatnote{margin-top:-0.5em}@media
        print{body.ns-0 .mw-parser-output .hatnote{display:none!important}}</style><div
        role=\"note\" class=\"hatnote navigation-not-searchable selfref\">For templates
        in Wikipedia, see <a h[...]
