interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Celtuce&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1868108":{"pageid":1868108,"ns":0,"title":"Celtuce","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-14T08:20:36Z","lastrevid":1194071915,"length":4964,"fullurl":"https://en.wikipedia.org/wiki/Celtuce","editurl":"https://en.wikipedia.org/w/index.php?title=Celtuce&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Celtuce","pageprops":{"page_image_free":"Celtuce.jpg","wikibase-shortdesc":"Lettuce
        cultivar","wikibase_item":"Q574172"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=2007+Atlantic+hurricane+season&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"2528069":{"pageid":2528069,"ns":0,"title":"2007
        Atlantic hurricane season","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T21:16:51Z","lastrevid":1197763446,"length":89612,"fullurl":"https://en.wikipedia.org/wiki/2007_Atlantic_hurricane_season","editurl":"https://en.wikipedia.org/w/index.php?title=2007_Atlantic_hurricane_season&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/2007_Atlantic_hurricane_season","pageprops":{"defaultsort":"2007
        Atlantic Hurricane Season","page_image_free":"2007_Atlantic_hurricane_season_summary_map.png","wikibase-badge-Q17437796":"1","wikibase-shortdesc":"Hurricane
        season in the Atlantic Ocean","wikibase_item":"Q756793"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Great+Wall+of+China&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"5094570":{"pageid":5094570,"ns":0,"title":"Great
        Wall of China","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T16:15:21Z","lastrevid":1195260685,"length":58991,"fullurl":"https://en.wikipedia.org/wiki/Great_Wall_of_China","editurl":"https://en.wikipedia.org/w/index.php?title=Great_Wall_of_China&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Great_Wall_of_China","pageprops":{"defaultsort":"Great
        Wall Of China","page_image_free":"The_Great_Wall_of_China_at_Jinshanling-edit.jpg","wikibase-shortdesc":"Series
        of defensive walls along the historical northern borders of China","wikibase_item":"Q12501"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Avatar+%282009+film%29&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4273140":{"pageid":4273140,"ns":0,"title":"Avatar
        (2009 film)","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T19:15:00Z","lastrevid":1197738338,"length":228059,"fullurl":"https://en.wikipedia.org/wiki/Avatar_(2009_film)","editurl":"https://en.wikipedia.org/w/index.php?title=Avatar_(2009_film)&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Avatar_(2009_film)","pageprops":{"defaultsort":"Avatar","displaytitle":"<i>Avatar</i>
        (2009 film)","page_image":"Avatar_(2009_film)_poster.jpg","toc":"","wikibase-badge-Q17437798":"1","wikibase-shortdesc":"Science
        fiction film by James Cameron","wikibase_item":"Q24871"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=revisions&rvprop=content&rvlimit=1&rvparse=&titles=Celtuce&format=json&action=query
  response:
    body:
      string: '{"continue":{"rvcontinue":"20240107020046|1194071863","continue":"||"},"warnings":{"main":{"*":"Subscribe
        to the mediawiki-api-announce mailing list at <https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/>
        for notice of API deprecations and breaking changes. Use [[Special:ApiFeatureUsage]]
        to see usage of deprecated features by your application."},"revisions":{"*":"The
        parameter \"rvparse\" has been deprecated.\nBecause \"rvslots\" was not specified,
        a legacy format has been used for the output. This format is deprecated, and
        in the future the new format will always be used."}},"query":{"pages":{"1868108":{"pageid":1868108,"ns":0,"title":"Celtuce","revisions":[{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><div class=\"shortdescription
        nomobile noexcerpt noprint searchaux\" style=\"display:none\">Lettuce cultivar</div>\n<style
        data-mw-deduplicate=\"TemplateStyles:r1097763485\">.mw-parser-output .ambox{border:1px
        solid #a2a9b1;border-left:10px solid #36c;background-color:#fbfbfb;box-sizing:border-box}.mw-parser-output
        .ambox+link+.ambox,.mw-parser-output .ambox+link+style+.ambox,.mw-parser-output
        .ambox+link+link+.ambox,.mw-parser-output .ambox+.mw-empty-elt+link+[...]
