interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Communist+Party&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Communist Party","to":"Communist
        party"}],"pages":{"37008":{"pageid":37008,"ns":0,"title":"Communist party","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2025-03-08T16:23:00Z","lastrevid":1276297586,"length":14817,"fullurl":"https://en.wikipedia.org/wiki/Communist_party","editurl":"https://en.wikipedia.org/w/index.php?title=Communist_party&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Communist_party","pageprops":{"jsonconfig_getdata":"1","wikibase-shortdesc":"Political
        party that promotes communist philosophy and values","wikibase_item":"Q233591"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=communist+Party&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"communist Party","to":"Communist
        Party"}],"redirects":[{"from":"Communist Party","to":"Communist party"}],"pages":{"37008":{"pageid":37008,"ns":0,"title":"Communist
        party","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2025-03-08T16:23:00Z","lastrevid":1276297586,"length":14817,"fullurl":"https://en.wikipedia.org/wiki/Communist_party","editurl":"https://en.wikipedia.org/w/index.php?title=Communist_party&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Communist_party","pageprops":{"jsonconfig_getdata":"1","wikibase-shortdesc":"Political
        party that promotes communist philosophy and values","wikibase_item":"Q233591"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
version: 1
