interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1,"pageviews":{"2025-06-12":1287,"2025-06-13":1075,"2025-06-14":1004,"2025-06-15":950,"2025-06-16":1424,"2025-06-17":1289,"2025-06-18":1205,"2025-06-19":1015,"2025-06-20":1097,"2025-06-21":1028,"2025-06-22":1000,"2025-06-23":1102,"2025-06-24":1473,"2025-06-25":1118,"2025-06-26":1055,"2025-06-27":1110,"2025-06-28":1146,"2025-06-29":1097,"2025-06-30":1278,"2025-07-01":1144,"2025-07-02":1071,"2025-07-03":1016,"2025-07-04":931,"2025-07-05":879,"2025-07-06":963,"2025-07-07":1189,"2025-07-08":1154,"2025-07-09":1181[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Carnegie_Hall","continue":"||"},"query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1,"pageviews":{"2025-06-12":1287,"2025-06-13":1075,"2025-06-14":1004,"2025-06-15":950,"2025-06-16":1424,"2025-06-17":1289,"2025-06-18":1205,"2025-06-19":1015,"2025-06-20":1097,"2025-06-21":1028,"2025-06-22":1000,"2025-06-23":1102,"2025-06-24":1473,"2025-06-25":1118,"2025-06-26":1055,"2025-06-27":1110,"2025-06-28":1146,"2025-06-29":1097,"2025-06-30":1278,"2025-07-01":1144,"2025-07-02":1071,"2025[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json&pvipcontinue=Carnegie_Hall&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Governors_Island","continue":"||"},"query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1},"6788":{"pageid":6788,"ns":0,"title":"Chrysler
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json&pvipcontinue=Governors_Island&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Hoboken,_New_Jersey","continue":"||"},"query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1},"6788":{"pageid":6788,"ns":0,"title":"Chrysl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json&pvipcontinue=Hoboken%2C_New_Jersey&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Madison_Square_Garden","continue":"||"},"query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1},"6788":{"pageid":6788,"ns":0,"title":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json&pvipcontinue=Madison_Square_Garden&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Museum_of_Modern_Art","continue":"||"},"query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1},"6788":{"pageid":6788,"ns":0,"title":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json&pvipcontinue=Museum_of_Modern_Art&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"New_York_University_Tisch_School_of_the_Arts","continue":"||"},"query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1},"6788":{"pageid[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json&pvipcontinue=New_York_University_Tisch_School_of_the_Arts&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Statue_of_Liberty","continue":"||"},"query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1},"6788":{"pageid":6[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json&pvipcontinue=Statue_of_Liberty&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Times_Square","continue":"||"},"query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1},"6788":{"pageid":6788,"ns":0,"title":"Chrysler
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggssort=relevance&prop=pageviews&ggslimit=50&format=json&pvipcontinue=Times_Square&continue=%7C%7C
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1397":{"pageid":1397,"ns":0,"title":"AOL","index":-1},"6788":{"pageid":6788,"ns":0,"title":"Chrysler
        Building","index":0},"9736":{"pageid":97[...]
[...]
