interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=10&limit=10&srsearch=qmxjsudek&srinfo=suggestion&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","query":{"search":[]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
      x-search-id:
      - bth5ha1ijk2h22dbw8q0follt
    status:
      code: 200
      message: OK
version: 1
