interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=10&limit=10&srsearch=Barack+Obama&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":22340},"search":[{"ns":0,"title":"Barack
        Obama","pageid":534366},{"ns":0,"title":"Family of Barack Obama","pageid":17775180},{"ns":0,"title":"Barack
        Obama Sr.","pageid":16136849},{"ns":0,"title":"Presidency of Barack Obama","pageid":20082093},{"ns":0,"title":"Early
        life and career of Barack Obama","pageid":16394033},{"ns":0,"title":"First
        inauguration of Barack Obama","pageid":20767983},{"ns":0,"title":"Cabinet
        of Barack Obama","pageid":21341288},{"ns":0,"title":"Barack Obama religion
        conspiracy theories","pageid":26472604},{"ns":0,"title":"Barack Obama Plaza","pageid":57773094},{"ns":0,"title":"Barack
        Obama Presidential Center","pageid":41828619}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
      x-search-id:
      - 252re7oag8lhb7dhw0m628eyh
    status:
      code: 200
      message: OK
version: 1
