interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=1&limit=1&srsearch=Celtuce&srinfo=suggestion&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":1,"continue":"-||"},"query":{"search":[{"ns":0,"title":"Celtuce","pageid":1868108}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
      x-search-id:
      - 6fk0gyce94hnk9i2ms6kez206
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Celtuce&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1868108":{"pageid":1868108,"ns":0,"title":"Celtuce","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-14T08:20:36Z","lastrevid":1194071915,"length":4964,"fullurl":"https://en.wikipedia.org/wiki/Celtuce","editurl":"https://en.wikipedia.org/w/index.php?title=Celtuce&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Celtuce","pageprops":{"page_image_free":"Celtuce.jpg","wikibase-shortdesc":"Lettuce
        cultivar","wikibase_item":"Q574172"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=1&limit=1&srsearch=2007+Atlantic+hurricane+season&srinfo=suggestion&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":1,"continue":"-||"},"query":{"search":[{"ns":0,"title":"2007
        Atlantic hurricane season","pageid":2528069}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
      x-search-id:
      - vyjeq91elnma73ckxblqpenl
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=2007+Atlantic+hurricane+season&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"2528069":{"pageid":2528069,"ns":0,"title":"2007
        Atlantic hurricane season","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T21:16:51Z","lastrevid":1197763446,"length":89612,"fullurl":"https://en.wikipedia.org/wiki/2007_Atlantic_hurricane_season","editurl":"https://en.wikipedia.org/w/index.php?title=2007_Atlantic_hurricane_season&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/2007_Atlantic_hurricane_season","pageprops":{"defaultsort":"2007
        Atlantic Hurricane Season","page_image_free":"2007_Atlantic_hurricane_season_summary_map.png","wikibase-badge-Q17437796":"1","wikibase-shortdesc":"Hurricane
        season in the Atlantic Ocean","wikibase_item":"Q756793"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=1&limit=1&srsearch=Great+Wall+of+China&srinfo=suggestion&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":1,"continue":"-||"},"query":{"search":[{"ns":0,"title":"Great
        Wall of China","pageid":5094570}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
      x-search-id:
      - 9u03osgjg4w7031u61ue0rjpm
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Great+Wall+of+China&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"5094570":{"pageid":5094570,"ns":0,"title":"Great
        Wall of China","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T16:15:21Z","lastrevid":1195260685,"length":58991,"fullurl":"https://en.wikipedia.org/wiki/Great_Wall_of_China","editurl":"https://en.wikipedia.org/w/index.php?title=Great_Wall_of_China&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Great_Wall_of_China","pageprops":{"defaultsort":"Great
        Wall Of China","page_image_free":"The_Great_Wall_of_China_at_Jinshanling-edit.jpg","wikibase-shortdesc":"Series
        of defensive walls along the historical northern borders of China","wikibase_item":"Q12501"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Avatar+%282009+film%29&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4273140":{"pageid":4273140,"ns":0,"title":"Avatar
        (2009 film)","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-21T19:15:00Z","lastrevid":1197738338,"length":228059,"fullurl":"https://en.wikipedia.org/wiki/Avatar_(2009_film)","editurl":"https://en.wikipedia.org/w/index.php?title=Avatar_(2009_film)&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Avatar_(2009_film)","pageprops":{"defaultsort":"Avatar","displaytitle":"<i>Avatar</i>
        (2009 film)","page_image":"Avatar_(2009_film)_poster.jpg","toc":"","wikibase-badge-Q17437798":"1","wikibase-shortdesc":"Science
        fiction film by James Cameron","wikibase_item":"Q24871"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=Celtuce&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"1868108|0|Food_energy","continue":"gplcontinue||backlinks"},"query":{"pages":{"162296":{"pageid":162296,"ns":0,"title":"Aphid"},"378744":{"pageid":378744,"ns":0,"title":"Calcium
        in biology"},"5932":{"pageid":5932,"ns":0,"title":"Carbohydrate"},"5405":{"pageid":5405,"ns":0,"title":"China"},"167906":{"pageid":167906,"ns":0,"title":"Cultivar"},"396054":{"pageid":396054,"ns":0,"title":"Dietary
        Reference Intake"},"66554":{"pageid":66554,"ns":0,"title":"Dietary fiber"},"2174645":{"pageid":2174645,"ns":0,"title":"EPPO
        Code"},"11042":{"pageid":11042,"ns":0,"title":"Fat"},"54117":{"pageid":54117,"ns":0,"title":"Folate"}},"backlinks":[]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=Celtuce&gplcontinue=1868108%7C0%7CFood_energy&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"1868108|0|Magnesium_in_biology","continue":"gplcontinue||backlinks"},"query":{"pages":{"182303":{"pageid":182303,"ns":0,"title":"Food
        energy"},"6633626":{"pageid":6633626,"ns":0,"title":"Germplasm Resources Information
        Network"},"2987862":{"pageid":2987862,"ns":0,"title":"Global Biodiversity
        Information Facility"},"3190097":{"pageid":3190097,"ns":0,"title":"Google
        Books"},"3335116":{"pageid":3335116,"ns":0,"title":"Human iron metabolism"},"391726":{"pageid":391726,"ns":0,"title":"International
        Plant Names Index"},"865802":{"pageid":865802,"ns":0,"title":"International
        unit"},"1911815":{"pageid":1911815,"ns":0,"title":"Lactuca sativa"},"57079":{"pageid":57079,"ns":0,"title":"Lettuce"},"125616":{"pageid":125616,"ns":0,"title":"List
        of vegetables"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=Celtuce&gplcontinue=1868108%7C0%7CMagnesium_in_biology&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"1868108|0|Phosphorus","continue":"gplcontinue||backlinks"},"query":{"pages":{"378938":{"pageid":378938,"ns":0,"title":"Magnesium
        in biology"},"19051":{"pageid":19051,"ns":0,"title":"Manganese"},"2454408":{"pageid":2454408,"ns":0,"title":"Mediterranean
        Basin"},"205406":{"pageid":205406,"ns":0,"title":"Microgram"},"157785":{"pageid":157785,"ns":0,"title":"Milligram"},"235195":{"pageid":235195,"ns":0,"title":"Mineral
        (nutrient)"},"149306":{"pageid":149306,"ns":0,"title":"National Center for
        Biotechnology Information"},"71987787":{"pageid":71987787,"ns":0,"title":"Niacin
        (nutrient)"},"47926198":{"pageid":47926198,"ns":0,"title":"Open Tree of Life"},"54099":{"pageid":54099,"ns":0,"title":"Pantothenic
        acid"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=Celtuce&gplcontinue=1868108%7C0%7CPhosphorus&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"1868108|0|Species","continue":"gplcontinue||backlinks"},"query":{"pages":{"23318":{"pageid":23318,"ns":0,"title":"Phosphorus"},"23588":{"pageid":23588,"ns":0,"title":"Pinyin"},"18952693":{"pageid":18952693,"ns":0,"title":"Plant
        stem"},"4533478":{"pageid":4533478,"ns":0,"title":"Plants for a Future"},"56412019":{"pageid":56412019,"ns":0,"title":"Plants
        of the World Online"},"378912":{"pageid":378912,"ns":0,"title":"Potassium
        in biology"},"6531493":{"pageid":6531493,"ns":0,"title":"Protein (nutrient)"},"26229":{"pageid":26229,"ns":0,"title":"Riboflavin"},"261949":{"pageid":261949,"ns":0,"title":"Simplified
        Chinese characters"},"22615598":{"pageid":22615598,"ns":0,"title":"Sodium
        in biology"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=Celtuce&gplcontinue=1868108%7C0%7CSpecies&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"1868108|0|Vitamin_B6","continue":"gplcontinue||backlinks"},"query":{"pages":{"21780446":{"pageid":21780446,"ns":0,"title":"Species"},"53000":{"pageid":53000,"ns":0,"title":"Stir
        frying"},"25734":{"pageid":25734,"ns":0,"title":"Taiwan"},"43455":{"pageid":43455,"ns":0,"title":"Tang
        dynasty"},"30500":{"pageid":30500,"ns":0,"title":"Thiamine"},"266210":{"pageid":266210,"ns":0,"title":"Traditional
        Chinese characters"},"42325606":{"pageid":42325606,"ns":0,"title":"Tropicos"},"5791492":{"pageid":5791492,"ns":0,"title":"Vegetable"},"32512":{"pageid":32512,"ns":0,"title":"Vitamin"},"54114":{"pageid":54114,"ns":0,"title":"Vitamin
        A"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=Celtuce&gplcontinue=1868108%7C0%7CVitamin_B6&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"1868108|12|Maintenance_template_removal","continue":"gplcontinue||backlinks"},"query":{"pages":{"54110":{"pageid":54110,"ns":0,"title":"Vitamin
        B6"},"32509":{"pageid":32509,"ns":0,"title":"Vitamin C"},"35412202":{"pageid":35412202,"ns":0,"title":"Wikidata"},"20378103":{"pageid":20378103,"ns":0,"title":"World
        Register of Marine Species"},"34420":{"pageid":34420,"ns":0,"title":"Zinc"},"25432026":{"pageid":25432026,"ns":4,"title":"Wikipedia:Citation
        needed"},"99719":{"pageid":99719,"ns":4,"title":"Wikipedia:Stub"},"3961892":{"pageid":3961892,"ns":4,"title":"Wikipedia:Verifiability"},"2160444":{"pageid":2160444,"ns":10,"title":"Template:Vegetable-stub"},"13381643":{"pageid":13381643,"ns":11,"title":"Template
        talk:Vegetable-stub"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=Celtuce&gplcontinue=1868108%7C12%7CMaintenance_template_removal&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"49378816":{"pageid":49378816,"ns":12,"title":"Help:Maintenance
        template removal"},"14894626":{"pageid":14894626,"ns":12,"title":"Help:Referencing
        for beginners"},"54111898":{"pageid":54111898,"ns":12,"title":"Help:Taxon
        identifiers"},"52734068":{"pageid":52734068,"ns":14,"title":"Category:Articles
        needing additional references from January 2017"},"69396690":{"pageid":69396690,"ns":14,"title":"Category:Articles
        with unsourced statements from December 2021"},"4474778":{"pageid":4474778,"ns":100,"title":"Portal:Food"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|2000_Atlantic_hurricane_season","continue":"gplcontinue||backlinks"},"query":{"pages":{"1703391":{"pageid":1703391,"ns":0,"title":"1914
        Atlantic hurricane season"},"1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7C2000_Atlantic_hurricane_season&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|2007_North_Indian_Ocean_cyclone_season","continue":"gplcontinue||backlinks"},"que[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7C2007_North_Indian_Ocean_cyclone_season&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|2017_Atlantic_hurricane_season","continue":"gplcontinue||backlinks"},"que[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CBahamas&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|Canadian_dollar","continue":"gplcontinue||backlinks"},"query":{"pages":{"8366550":{"pageid":8366550,"ns":0,"title":"Bahamas"},"362631":{"pageid":362631,"ns":0,"title":"Bar
        (unit)"},"1614124":{"pageid":1614124,"ns":0,"title":"Baroclinic"},"912692":{"pageid":912692,"ns":0,"title":"Bay
        of Campeche"},"136196":{"pageid":136196,"ns":0,"title":"Beaumont, Texas"},"3458":{"pageid":3458,"ns":0,"title":"Belize"},"3460":{"pageid":3460,"ns":0,"title":"Bermuda"},"79663":{"pageid":79663,"ns":0,"title":"Bridge
        City, Texas"},"135600":{"pageid":135600,"ns":0,"title":"Brownsville, Texas"},"66732":{"pageid":66732,"ns":0,"title":"CTV
        Television Network"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CCanadian_dollar&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|Colombia","continue":"gplcontinue||backlinks"},"query":{"pages":{"101846":{"pageid":101846,"ns":0,"title":"Canadian
        dollar"},"313791":{"pageid":313791,"ns":0,"title":"Cape Hatteras"},"2654307":{"pageid":2654307,"ns":0,"title":"Cape
        Lookout (North Carolina)"},"18962637":{"pageid":18962637,"ns":0,"title":"Cape
        Verde"},"5468":{"pageid":5468,"ns":0,"title":"Cayman Islands"},"2031425":{"pageid":2031425,"ns":0,"title":"Central
        United States"},"149261":{"pageid":149261,"ns":0,"title":"Coastal erosion"},"31546082":{"pageid":31546082,"ns":0,"title":"Coastal
        flooding"},"60409179":{"pageid":60409179,"ns":0,"title":"Cold core low"},"20279444":{"pageid":20279444,"ns":0,"title":"Cold
        front"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CColombia&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|El_Ni\u00f1o-Southern_Oscillation","continue":"gplcontinue||backlinks"},"query":{"pages":{"5222":{"pageid":5222,"ns":0,"title":"Colombia"},"475386":{"pageid":475386,"ns":0,"title":"Colorado
        State University"},"2265629":{"pageid":2265629,"ns":0,"title":"Costa Maya"},"5042481":{"pageid":5042481,"ns":0,"title":"Cuba"},"8060":{"pageid":8060,"ns":0,"title":"Dominican
        Republic"},"971289":{"pageid":971289,"ns":0,"title":"Dropsonde"},"89126":{"pageid":89126,"ns":0,"title":"East
        Coast of the United States"},"18947749":{"pageid":18947749,"ns":0,"title":"Effects
        of Hurricane Dean in Mexico"},"12949435":{"pageid":12949435,"ns":0,"title":"Effects
        of Hurricane Dean in the Greater Antilles"},"12845936":{"pageid":12845936,"ns":0,"title":"Effects
        of Hurricane Dean in the Lesser Antilles"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CEl_Ni%C3%B1o-Southern_Oscillation&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|Georgia_(U.S._state)","continue":"gplcontinue||backlinks"},"query":{"pages":{"36633803":{"pageid":36633803,"ns":0,"title":"El
        Ni\u00f1o-Southern Oscillation"},"9356":{"pageid":9356,"ns":0,"title":"El
        Salvador"},"109292":{"pageid":109292,"ns":0,"title":"Eustis, Florida"},"8210537":{"pageid":8210537,"ns":0,"title":"Extratropical
        cyclone"},"4652664":{"pageid":4652664,"ns":0,"title":"Eye (cyclone)"},"26608934":{"pageid":26608934,"ns":0,"title":"Eyewall
        replacement cycle"},"18933066":{"pageid":18933066,"ns":0,"title":"Florida"},"975749":{"pageid":975749,"ns":0,"title":"Florida
        Panhandle"},"109509":{"pageid":109509,"ns":0,"title":"Fort Walton Beach, Florida"},"8006988":{"pageid":8006988,"ns":0,"title":"Frontal
        system"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CGeorgia_%28U.S._state%29&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|High_Island,_Texas","continue":"gplcontinue||backlinks"},"query":{"pages":{"48830":{"pageid":48830,"ns":0,"title":"Georgia
        (U.S. state)"},"2126501":{"pageid":2126501,"ns":0,"title":"Google Earth"},"298550":{"pageid":298550,"ns":0,"title":"Greater
        Antilles"},"12118":{"pageid":12118,"ns":0,"title":"Greenland"},"12343":{"pageid":12343,"ns":0,"title":"Guadeloupe"},"17238567":{"pageid":17238567,"ns":0,"title":"Guatemala"},"11969":{"pageid":11969,"ns":0,"title":"Gulf
        Coast of the United States"},"21076367":{"pageid":21076367,"ns":0,"title":"Gulf
        of Mexico"},"13373":{"pageid":13373,"ns":0,"title":"Haiti"},"224021":{"pageid":224021,"ns":0,"title":"Hidalgo
        (state)"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CHigh_Island%2C_Texas&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|Hurricane_Humberto_(2007)","continue":"gplcontinue||backlinks"},"query":{"pages":{"1009734":{"pageid":1009734,"ns":0,"title":"High
        Island, Texas"},"13714":{"pageid":13714,"ns":0,"title":"Hispaniola"},"27476634":{"pageid":27476634,"ns":0,"title":"History
        of tropical cyclone naming"},"13394":{"pageid":13394,"ns":0,"title":"Honduras"},"35999637":{"pageid":35999637,"ns":0,"title":"Hurricane
        Andrew"},"3511662":{"pageid":3511662,"ns":0,"title":"Hurricane Claudette (2003)"},"12766321":{"pageid":12766321,"ns":0,"title":"Hurricane
        Dean"},"13055518":{"pageid":13055518,"ns":0,"title":"Hurricane Felix"},"598523":{"pageid":598523,"ns":0,"title":"Hurricane
        Gilbert"},"13068865":{"pageid":13068865,"ns":0,"title":"Hurricane Henriette
        (2007)"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CHurricane_Humberto_%282007%29&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|Hurricane_Noel","continue":"gplcontinue||backlinks"},"query":{"pages":{"13231849":{"pageid":13231849,"ns":0,"title":"Hurricane
        Humberto (2007)"},"30976821":{"pageid":30976821,"ns":0,"title":"Hurricane
        Hunter"},"974726":{"pageid":974726,"ns":0,"title":"Hurricane Iris"},"55140572":{"pageid":55140572,"ns":0,"title":"Hurricane
        Irma"},"14460597":{"pageid":14460597,"ns":0,"title":"Hurricane Karen (2007)"},"2569378":{"pageid":2569378,"ns":0,"title":"Hurricane
        Katrina"},"13465811":{"pageid":13465811,"ns":0,"title":"Hurricane Lorenzo
        (2007)"},"55262011":{"pageid":55262011,"ns":0,"title":"Hurricane Maria"},"740088":{"pageid":740088,"ns":0,"title":"Hurricane
        Michelle"},"281923":{"pageid":281923,"ns":0,"title":"Hurricane Mitch"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CHurricane_Noel&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|Leeward_Antilles","continue":"gplcontinue||backlinks"},"query":{"pages":{"13948899":{"pageid":13948899,"ns":0,"title":"Hurricane
        Noel"},"2878666":{"pageid":2878666,"ns":0,"title":"Hurricane Wilma"},"726492":{"pageid":726492,"ns":0,"title":"Hurricane
        hunter"},"2319766":{"pageid":2319766,"ns":0,"title":"Inch of mercury"},"15660":{"pageid":15660,"ns":0,"title":"Jamaica"},"366810":{"pageid":366810,"ns":0,"title":"Knot
        (unit)"},"78469":{"pageid":78469,"ns":0,"title":"La Ni\u00f1a"},"22139775":{"pageid":22139775,"ns":0,"title":"Labor
        Day Hurricane of 1935"},"58647":{"pageid":58647,"ns":0,"title":"Labrador"},"12836386":{"pageid":12836386,"ns":0,"title":"Lamar,
        Texas"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=backlinks&generator=links&bltitle=titles&blfilterredir=redirects&titles=2007+Atlantic+hurricane+season&gplcontinue=2528069%7C0%7CLeeward_Antilles&continue=gplcontinue%7C%7Cbacklinks&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","continue":{"gplcontinue":"2528069|0|Martinique","continue":"gplcontinue||backlinks"},"query":{"pages":{"6720770":{"pageid":6720770,"ns":0,"title":"Leeward
        Antilles"},"276895":{"pageid":276895,"ns":0,"title":"Leeward Islands"},"160659":{"pageid":160659,"ns":0,"title":"Lesser
        Antilles"},"57625159":{"pageid":57625159,"ns":0,"title":"List of historic
        tropical cyclone names"},"3430069":{"pageid":3430069,"ns":0,"title":"List
        of retired Atlantic hurricane names"},"723517":{"pageid":723517,"ns":0,"title":"List
        of tropical cyclone names"},"18130":{"pageid":18130,"ns":0,"title":"Louisiana"},"475199":{"pageid":475199,"ns":0,"title":"Low-pressure
        area"},"1059005":{"pageid":1059005,"ns":0,"title":"Lucayan Archipelago"},"295426":{"pageid":295426,"ns":0,"title":"MXN"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
[...]
