interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=1&limit=1&srsearch=butteryfly&srinfo=suggestion&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":1,"continue":"-||"},"query":{"searchinfo":{"suggestion":"butterfly","suggestionsnippet":"butterfly"},"search":[{"ns":0,"title":"Great
        Road Historic District","pageid":17239598}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
      x-search-id:
      - br84nw4pla5lth9j1lvaoxrse
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=butterfly&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"butterfly","to":"Butterfly"}],"pages":{"48338":{"pageid":48338,"ns":0,"title":"Butterfly","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2025-03-08T20:33:57Z","lastrevid":1279480183,"length":103287,"fullurl":"https://en.wikipedia.org/wiki/Butterfly","editurl":"https://en.wikipedia.org/w/index.php?title=Butterfly&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Butterfly","pageprops":{"jsonconfig_getdata":"1","page_image_free":"Fesoj_-_Papilio_machaon_(by).jpg","wikibase-badge-Q17437798":"","wikibase-shortdesc":"Group
        of insects in the order Lepidoptera","wikibase_item":"Q11946202"}}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
version: 1
