interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?meta=siteinfo&siprop=languages&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"languages":[{"code":"aa","bcp47":"aa","*":"Qaf\u00e1r
        af"},{"code":"aae","bcp47":"aae","*":"Arb\u00ebrisht"},{"code":"ab","bcp47":"ab","*":"\u0430\u0525\u0441\u0448\u04d9\u0430"},{"code":"abs","bcp47":"abs","*":"bahasa
        ambon"},{"code":"ace","bcp47":"ace","*":"Ac\u00e8h"},{"code":"acf","bcp47":"acf","*":"Kw\u00e9y\u00f2l
        Sent Lisi"},{"code":"acm","bcp47":"acm","*":"\u0639\u0631\u0627\u0642\u064a"},{"code":"ady","bcp47":"ady","*":"\u0430\u0434\u044b\u0433\u0430\u0431\u0437\u044d"},{"code":"ady-cyrl","bcp47[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=10&limit=10&srsearch=Python&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":12733},"search":[{"ns":0,"title":"Python
        (programming language)","pageid":23862},{"ns":0,"title":"Python","pageid":46332325},{"ns":0,"title":"Monty
        Python","pageid":18942},{"ns":0,"title":"Reticulated python","pageid":88595},{"ns":0,"title":"Burmese
        python","pageid":819149},{"ns":0,"title":"Python (codename)","pageid":53672527},{"ns":0,"title":"Ball
        python","pageid":271890},{"ns":0,"title":"Python (missile)","pageid":317752},{"ns":0,"title":"History
        of Python","pageid":21356332},{"ns":0,"title":"Monty Python and the Holy Grail","pageid":19701}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
      x-search-id:
      - 5lp73ayjtcyewvge94yv340fl
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fr.wikipedia.org/w/api.php?list=search&srprop=&srlimit=10&limit=10&srsearch=Python&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":3929},"search":[{"ns":0,"title":"Python
        (langage)","pageid":2340},{"ns":0,"title":"Monty Python","pageid":11938},{"ns":0,"title":"Python
        r\u00e9ticul\u00e9","pageid":1579288},{"ns":0,"title":"Python","pageid":2302},{"ns":0,"title":"Python
        royal","pageid":1463677},{"ns":0,"title":"Monty Python : Sacr\u00e9 Graal
        !","pageid":11964},{"ns":0,"title":"Colt Python","pageid":321642},{"ns":0,"title":"Python
        de Seba","pageid":321228},{"ns":0,"title":"PYTHON","pageid":12118202},{"ns":0,"title":"Python
        (mythologie)","pageid":164638}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
      x-search-id:
      - f1tuc58bfesvj781ddw5cf14h
    status:
      code: 200
      message: OK
version: 1
