interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=geosearch&gsradius=1000&gscoord=40.67693%7C117.23193&gslimit=10&titles=Great+Wall+of+China&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"5094570":{"pageid":5094570,"ns":0,"title":"Great
        Wall of China"}},"geosearch":[{"pageid":5094570,"ns":0,"title":"Great Wall
        of China","lat":40.68,"lon":117.23,"dist":378.2,"primary":""}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.183
      x-search-id:
      - 2dhsvgdk6flrclnqmzr1gl997
    status:
      code: 200
      message: OK
version: 1
