interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=Template%3Acn&format=json&action=query
  response:
    body:
      string: "{\"batchcomplete\":\"\",\"query\":{\"normalized\":[{\"from\":\"Template:cn\",\"to\":\"Template:Cn\"}],\"redirects\":[{\"from\":\"Template:Cn\",\"to\":\"Template:Citation
        needed\"}],\"pages\":{\"2048472\":{\"pageid\":2048472,\"ns\":10,\"title\":\"Template:Citation
        needed\",\"contentmodel\":\"wikitext\",\"pagelanguage\":\"en\",\"pagelanguagehtmlcode\":\"en\",\"pagelanguagedir\":\"ltr\",\"touched\":\"2025-03-14T22:01:21Z\",\"lastrevid\":1234309184,\"length\":776,\"fullurl\":\"https://en.wikipedia.org/wiki/Template:Citation_needed\",\"editurl\":\"https://en.wikipedia.org/w/index.php?title=Template:Citation_needed&action=edit\",\"canonicalurl\":\"https://en.wikipedia.org/wiki/Template:Citation_needed\",\"pageprops\":{\"templatedata\":\"\\ufffd\\ufffd\\ufffd\\ufffd\\ufffd\\ufffd\\ufffd\\ufffd\\ufffd\\ufffd\\ufffd\\ufffdM\\ufffd\\ufffd@\\ufffd\\ufffd\\ufffd\\ufffd\\ufffdK.&\\ufffd\\ufffd=\\ufffd\\ufffd(\\ufffd\\ufffd%\\ufffd\\ufffdRzPl9\\ufffdv<\\ufffd\\ufffdivk\\ufffd\\ufffd{%'\\ufffd\\ufffd\\ufffdB{\\ufffd4\\ufffd\\ufffdy\\ufffd\\\\C\\\\g\\u07cbO\\ufffd-N\\ufffd\\ufffd\\ufffdvG\\ufffd\\ufffd\\ufffd\\ufffd(\\ufffd\\ufffd\\ufffd05
        \\t|CQ|;@\\ufffd\\ufffdw\\ufffd>\\ufffdf\\ufffdu \\ufffd\\ufffd\\ufffd>K\\ufffd\\ufffd\\u[...]
