interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?prop=info%7Cpageprops&inprop=url&redirects=&titles=purpleberrynotexist&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"purpleberrynotexist","to":"Purpleberrynotexist"}],"pages":{"-1":{"ns":0,"title":"Purpleberrynotexist","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/Purpleberrynotexist","editurl":"https://en.wikipedia.org/w/index.php?title=Purpleberrynotexist&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Purpleberrynotexist"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
    status:
      code: 200
      message: OK
version: 1
