interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=search&srprop=&srlimit=10&limit=10&srsearch=Python&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":12733},"search":[{"ns":0,"title":"Python
        (programming language)","pageid":23862},{"ns":0,"title":"Python","pageid":46332325},{"ns":0,"title":"Monty
        Python","pageid":18942},{"ns":0,"title":"Reticulated python","pageid":88595},{"ns":0,"title":"Burmese
        python","pageid":819149},{"ns":0,"title":"Python (codename)","pageid":53672527},{"ns":0,"title":"Ball
        python","pageid":271890},{"ns":0,"title":"Python (missile)","pageid":317752},{"ns":0,"title":"History
        of Python","pageid":21356332},{"ns":0,"title":"Monty Python and the Holy Grail","pageid":19701}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
      x-search-id:
      - zjteravt3tfqyvyz2todyglc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fr.wikipedia.org/w/api.php?list=search&srprop=&srlimit=10&limit=10&srsearch=Python&format=json&action=query
  response:
    body:
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: limit."}},"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":3929},"search":[{"ns":0,"title":"Python
        (langage)","pageid":2340},{"ns":0,"title":"Monty Python","pageid":11938},{"ns":0,"title":"Python
        r\u00e9ticul\u00e9","pageid":1579288},{"ns":0,"title":"Python","pageid":2302},{"ns":0,"title":"Python
        royal","pageid":1463677},{"ns":0,"title":"Monty Python : Sacr\u00e9 Graal
        !","pageid":11964},{"ns":0,"title":"Colt Python","pageid":321642},{"ns":0,"title":"Python
        de Seba","pageid":321228},{"ns":0,"title":"Python bivittatus","pageid":5865262},{"ns":0,"title":"Python
        (mythologie)","pageid":164638}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 86.45.201.103
      x-search-id:
      - ctwltrxu7ta9l18dv2kv7bchz
    status:
      code: 200
      message: OK
version: 1
