interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Actors_Studio_Drama_School_at_Pace_University","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"title":"Woolworth
        Building","index":0},"276722":{"pageid":276722,"ns":0,"title":"New York City
        Hall","index":1},"450751":{"pageid":450751,"ns":0,"title":"New York City Landmarks
        Preservation Commission","index":2},"645042":{"pageid":645042,"ns":0,"title":"New
        York City","index":3},"728705":{"pageid":728705,"ns":0,"title":"City Hall
        station (IRT Lexington Avenue Line)","index":4},"1535917":{"pageid":1535917,"ns":0,"title":"Park
        Row station","index":5},"2197116":{"pageid":2197116,"ns":0,"title":"Manhattan
        Community Board 1","index":6},"2376291":{"pageid":2376291,"ns":0,"title":"Beach
        Pneumatic Transit","index":7},"2725421":{"pageid":2725421,"ns":0,"title":"New
        York World Building","index":8},"4199346":{"pageid":4199346,"ns":0,"title":"City
        Hall station (BMT Broadway Line)","index":9},"4282471":{"pageid":4282471,"ns":0,"title":"Manhattan
        Municipal Building","index":10},"4322551":{"pageid":4322551,"ns":0,"title":"Park
        Theatre (Manhattan)","index":11},"4886107":{"pageid":4886107,"ns":0,"title":"Lubin
        School of Business","index":12},"5253182":{"pageid":5253182,"ns":0,"title":"1
        Pace Plaza","index":13,"pageviews":{"2025-06-12":33,"2025-06-13":10,"2025-06-14":6,"2025-06-15":7,"2025-06-16":11,"2025-06-17":7,"2025-06-18":14,"2025-06-19":16,"2025-06-20":17,"2025-06-21":11,"2025-06-22":14,"2025-06-23":21,"2025-06-24":15,"2025-06-25":14,"2025-06-26":12,"2025-06-27":14,"2025-06-28":10,"2025-06-29":3,"2025-06-30":13,"2025-07-01":8,"2025-07-02":11,"2025-07-03":6,"2025-07-04":8,"2025-07-05":7,"2025-07-06":16,"2025-07-07":18,"2025-07-08":4,"2025-07-09":12,"2025-07-10":25,"2025-07-11":12,"2025-07-12":16,"2025-07-13"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Actors_Studio_Drama_School_at_Pace_University&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"City_Hall_Park","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=City_Hall_Park&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"J&R","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"title":"Woolworth
        Building","i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=J%26R&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"New_York_City_Municipal_Archives","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1,"pageviews":{"2025-06-12":3120,"2025-06-13":2876,"202[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=New_York_City_Municipal_Archives&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Potter_Building","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"title":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Potter_Building&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Tweed_Courthouse","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"title":"Woolworth
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Tweed_Courthouse&continue=%7C%7C
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"title":"Woolworth
        Building","index":0,"pageviews":{"2025-06-12":524,"2025-06-13":573,"2025-06-14":475,"2025-06-15":541,"2025-06-16":539,"2025-06-17":560,"2025-06-18":509,"2025-06-19":580,"2025-06-20":598,"2025-06-21":662,"2025-06-22":634,"2025-06-23":627,"2025-06-24":522,"2025-06-25":520,"2025-06-26":536,"2025-06-27":542,"2025-06-28":482,"2025-06-29":543,"2025-06-30":493,[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?meta=siteinfo&siprop=languages&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"languages":[{"code":"aa","bcp47":"aa","*":"Qaf\u00e1r
        af"},{"code":"aae","bcp47":"aae","*":"Arb\u00ebrisht"},{"code":"ab","bcp47":"ab","*":"\u0430\u0525\u0441\u0448\u04d9\u0430"},{"code":"abs","bcp47":"abs","*":"bahasa
        ambon"},{"code":"ace","bcp47":"ace","*":"Ac\u00e8h"},{"code":"acf","bcp47":"acf","*":"Kw\u00e9y\u00f2l
        Sent Lisi"},{"code":"acm","bcp47":"acm","*":"\u0639\u0631\u0627\u0642\u064a"},{"code":"ady","bcp47":"ady","*":"\u0430\u0434\u044b\u0433\u0430\u0431\u0437\u044d"},{"code":"ady-cyrl","bcp47[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=49_Chambers&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Broadway\u2013Chambers_Building","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"title":"Woolw[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Broadway%E2%80%93Chambers_Building&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"City_Hall_station_(BMT_Broadway_Line)","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=City_Hall_station_%28BMT_Broadway_Line%29&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Hall_des_Lumieres","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Hall_des_Lumieres&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Manhattan_Community_Board_1","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1,"pageviews":{"2025-06-12":3120,"2025-06-13":28[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Manhattan_Community_Board_1&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"New_York_City_Municipal_Archives","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Old_Brick_Church_%28Manhattan%29&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Rogers_Peet_Building","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"tit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Rogers_Peet_Building&continue=%7C%7C
  response:
    body:
      string: '{"continue":{"pvipcontinue":"Woolworth_Building","continue":"||"},"query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"title":"Woolworth[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&generator=geosearch&ggsradius=10000&ggscoord=40.7128%7C-74.0060&ggslimit=50&prop=pageviews&format=json&pvipcontinue=Woolworth_Building&continue=%7C%7C
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"45470":{"pageid":45470,"ns":0,"title":"Manhattan","index":-1},"269156":{"pageid":269156,"ns":0,"title":"Woolworth
        Building","index":0,"pageviews":{"2025-[...]
[...]
