interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?list=geosearch&gsradius=10000&gscoord=40.67693%7C117.23193&gslimit=10&format=json&action=query
  response:
    body:
      string: '{"batchcomplete":"","query":{"geosearch":[{"pageid":5094570,"ns":0,"title":"Great
        Wall of China","lat":40.68,"lon":117.23,"dist":378.2,"primary":""},{"pageid":10135375,"ns":0,"title":"Jinshanling","lat":40.67638888888889,"lon":117.24444444444444,"dist":1057.1,"primary":""},{"pageid":34692121,"ns":0,"title":"Gubeikou","lat":40.69,"lon":117.15722222222223,"dist":6465,"primary":""},{"pageid":57219049,"ns":0,"title":"Xinchengzi,
        Beijing","lat":40.6425,"lon":117.32805555555555,"dist":8966.7,"primary":""}]}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 205.251.233.111
      x-search-id:
      - 415nx78ji6c9nyhrvafqvud0l
    status:
      code: 200
      message: OK
version: 1
