# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Run poetry image
        uses: abatilo/actions-poetry@v2.1.4
        with:
          poetry-version: "1.4.1"

      - name: Install dependencies
        run: poetry install

      - name: Build
        run: poetry build

      # - name: Publish TestPyPI
      #   env:
      #     POETRY_REPOSITORIES_TESTPYPI_URL: https://test.pypi.org/legacy/
      #     POETRY_HTTP_BASIC_TESTPYPI_USERNAME: __token__
      #     POETRY_HTTP_BASIC_TESTPYPI_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
      #   run: |
      #     poetry publish -r testpypi

      - name: Publish PyPI
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.POETRY_PYPI_TOKEN_PYPI }}
        run: |
          poetry publish
